<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/lib.ejs'); %>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('./partials/navbar.ejs'); %>

    <div class="container" style="text-align:center;">
      <br>
      <h2><span class="badge rounded-pill bg-primary"><%= title %></span></h2>
      <br>
      <h3><b><span class="text text-primary" style="color: black !important;">歡迎來到 Node_countBMI 專案，你將可以做四則運算與BMI計算</span></b></h3>
    </div>
  </body>
</html>