<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/lib.ejs'); %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/math.css">
  </head>
  <body>
    <%- include('./partials/navbar.ejs'); %>

    <div class="container" style="text-align:center;">
      <br>
      <h2><span class="badge rounded-pill bg-primary"><%= title %></span></h2>
      <br>
      <table>
        <tr>
          <td>輸入數字1: </td>
          <td>
            <div class="form-outline" style="width: 22rem;">
              <input step="0.01" value="0.00" type="number" id="number1" class="form-control" />
            </div>
          </td>
        </tr>
        <tr>
          <td>輸入數字2: </td>
          <td>
            <div class="form-outline" style="width: 22rem;">
              <input step="0.01" value="0.00" type="number" id="number1" class="form-control" />
            </div>
          </td>
        </tr>
        <tr>
          <td>輸出結果 : </td>
          <td>
            <div class="form-outline" style="width: 22rem;">
              <input type="text" class="form-control" placeholder="Result">
            </div>
          </td>
        </tr>
      </table>
      <div class="container">
        <button type="button" class="btn btn-danger">加法</button>
        <button type="button" class="btn btn-warning">減法</button>
        <button type="button" class="btn btn-success">乘法</button>
        <button type="button" class="btn btn-primary">除法</button>
      </div>
    </div>
  </body>
</html>